/* styles.css - #6b0400 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

.bodyHomepage {
  font-family: "REM", sans-serif;
  line-height: 1.6;
  overflow: hidden;
  background-color: #09020d;
  background-image: url("https://www.transparenttextures.com/patterns/gray-sand.png");
  width: 100%;
  height: 100%;
}

header {
  position: sticky !important;
  background-color: rgba(0, 0, 0, 0.288);
  box-shadow: rgba(0, 0, 0, 0.123) 0px 19px 38px,
    rgba(0, 0, 0, 0.445) 0px 15px 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  text-align: center;
  height: 5.5em;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: absolute;
}

nav > .btn {
  font-family: "REM", sans-serif;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 36px;
  outline: none;
  padding: 5px 0;
  position: relative;
  display: inline-block;
}

.btn::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 2px;
  left: 0;
  background: #ffffff;
  transition: width 0.3s ease;
  border-radius: 5%;
}

.btn:hover::after {
  width: 100%;
}

header > img {
  width: 100px;
  height: 85px;
  margin-right: auto;
  position: relative;
  filter: brightness(0) invert(1);
}

.homePageImage {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center bottom;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homePageContent {
  margin-top: -88px;
  padding: 30px;
  width: 80em;
  height: 47.5em;
  position: absolute;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.486);
  border-radius: 5px;
}

.homePageContent h1 {
  font-size: 5em;
  margin-bottom: 20px;
  color: rgb(255, 158, 12);
}

.homePageContent > p {
  font-size: 1.5em;
  margin-bottom: 60px;
}

.cards {
  display: flex;
  justify-content: space-between;
}

.card {
  background-color: rgba(0, 0, 0, 0.678);
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.123) 0px 19px 38px,
    rgba(0, 0, 0, 0.445) 0px 15px 12px;
  width: 30em;
  height: 18em;
}

.card h2 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.card > p {
  width: auto;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.cardDiv {
  height: 8em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  gap: 10px;
}

.cardDiv > p {
  font-size: 1.2em;
}

.specialOfferText {
  font-size: 1.4em;
  color: rgb(255, 158, 12);
  font-weight: bold;
}



.menuItemCard {
  display: flex;
}
